.container{
    margin: 10px 0;
    
}

.input{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-size: 18px;
    border: none;
    /* color: #0d0c22; */
    border-radius: 3px;
    background-color: #FFF8E1;
    /* box-shadow: 0 0.4rem #dfd9d9; */
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.input:focus{
    outline-color: #C0DEFF;
}

.input::placeholder {
    color: #9e9ea7;
   }