@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap');

.tarea-contenedor{
    width: 500px;
    min-height: 65px;
    background-color: #0E5E6F;
    margin: 5px 0;
    padding: 1px 15px 1px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 7px;
    border: 1px solid #222222;
    cursor: pointer;
    color: #222222;
    /* font-family: 'Lato', sans-serif; */
    /* font-weight: 700; */
}

.tarea-contenedor:hover{
    transform: translateY(-0.33em);
}
.tarea-contenedor:nth-child(4n + 1 ){
    background-color: #2C7281;
}
.tarea-contenedor:nth-child(4n + 2 ){
    background-color: #4A8693;
}

.tarea-contenedor:nth-child(4n + 3 ){
    background-color: #689AA5;
}

.tarea-contenedor:nth-child(4n + 4 ){
    background-color: #87AFB7;
}

.tarea-texto{
    width: 50%;
    height: 50px;
    font-size: 20px;
    display: flex;
    align-items: center;
    overflow-wrap: anywhere;
}

.tarea-icono{
    width: 25px;
    height: 25px;
    margin: 5px;
}

.tarea-contenedor.completada{   
    /* background-color: #5a01a7;     */
    /* background-color: #5C2E7E; */
    background-color: #808b96;
    text-decoration: line-through;   
    /* color: white;  */
}





