.App {
  max-width: 860px;
  margin: 40px auto;
  
}
button {
  background: none;
  border: 2px solid #fff;
  padding: 6px 12px;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
}
button:hover {
  background: #FFC1C2;
  color: #707070;
  border: 2px solid #707070;
  box-shadow: 0 0 8px rgba(255, 193, 194, 0.6);
}

.card-grid{
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px ;
}